@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar{
    width:4px;
}
body::-webkit-scrollbar-thumb{
    background-color: #4167A8;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar-link {
  margin-right: 1rem;
}

.navbar-link:hover {
  color: #c0d8f2;
}
.scrollbar-none::-webkit-scrollbar{
  display: none;
}

.back-to-top-button {
  background-color: #ff6700; /* MIUI Orange */
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  position: fixed;
}

.back-to-top-button:hover {
  background-color: #e65c00; /* Darker MIUI Orange */
}
